.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: italic;
}

/* Shared Styles */
.btn-primary{
  width: 116px;
  height: 52px;
  border-radius: 8px;
  color: #006A50;
  background-color: transparent;
  border: 1px solid #006A50;
  font-size: 18px;
  font-weight: 600;
}

.btn-primary:hover{
  color:white;
  background-color: #006A50;
  cursor: pointer;
}
.btn-secondary{
  border-radius: 8px;
  color: white;
  background-color:#006A50 ;
  border: none;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 34px 17px 34px;
}
.btn-secondary:hover{
  cursor: pointer;
  color: #006A50;
  background-color:white ;
  
}


/* Nav Bar Styles */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 160px;
  padding: 31px 160px 31px 160px;

}

.nav-title{
  font-size: 32px;
  font-weight: bold;
}
.main-bg{
  background-color: #f5fbfc;
  
}
/* Banner Styles */

.hero-img{
  width: 474px;
  height: 400px;
  margin-left: 120px;
}

.banner-main{
  display: flex;
  margin: 20px 160px 86px 160px;
  background-color: #C6E4D6;
  border-radius: 24px;
  padding: 60px 117px 60px 117px;
  height: 560px;
  align-items: center;
  gap: 64px;
}

.banner-subtitle{
  font-size: 24px;
  font-weight: 500px;
  color: #0E0E0E;
  opacity: .5;
  
}
.banner-title{
  font-size: 56px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 24px;


}
.banner-content{
  width: 622px;
}
/* Pillar Styles */
.P-O-B{
  margin: 80px 160px 80px 160px;
}

.pillar-heading{
  font-size: 40px;
  font-weight: bold;
}
.pillar-container{
  display: flex;
  justify-content: space-between;
  gap: 32px;
  
}

.pillar-card{
  background-color: white;
  border-radius:16px;
  padding: 32px;
  height: 244px; 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
  
}
.pillar-title{
  color: rgba(14, 14, 14, 0.8);
  font-weight: bold;
  padding-top: 30px;
}
.pillar-description{
  color:rgba(14, 14, 14, 0.7) ;
  padding-top: 0px;
}





/* Vision Styles */
.vision{
  margin: 80px 160px 32px 160px;
}
.vision-title{
  font-size: 40px;
  font-weight: bold;
}
.vision-para{
  font-size: 16px;
  color: #0E0E0E;
  opacity: .7;
  padding-bottom: 32px;
  line-height: 24px;
  padding-right: 32px;
}

.vision-container{
  display: flex;
  gap: 32px;
  
  
}

.vision-titles{
  color: #0E0E0E;
  opacity: .8;
  font-size: 20px;
  font-weight: bold;
}

.vision-description{
  color: #0E0E0E;
  opacity: 0.7;
  
}



.v1 {
  background-color: #99baf3;
  border-radius: 16px;
  padding: 32px;
  line-height: 24px;
}
.v2 {
  background-color: #C6E4D6;
  border-radius: 16px;
  padding: 32px;
}
.v3 {
  background-color: #F7EBCF;
  border-radius: 16px;
  padding: 32px;
  
}
.vision-btn-1{
  width: 122px;
  height: 41px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  text-align: center;
  padding: 11px;
  background-color: #5490F5;
  color: white;
}

.vision-btn-1:hover{
  color: #5490F5;
  background-color: #F5F5F5;
  cursor: pointer;
}
.vision-btn-2{
  width: 122px;
  height: 41px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  text-align: center;
  padding: 11px;
  background-color: #09A15C;
  color: white;
  margin-top: 18px;
}

.vision-btn-2:hover{
  color: #09A15C;
  background-color: #F5F5F5;
  cursor: pointer;
}
.vision-btn-3{
  width: 122px;
  height: 41px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  text-align: center;
  padding: 11px;
  background-color: #FFC239;
  color: white;
  margin-top: 18px;
  
}

.vision-btn-3:hover{
  color:#FFC239;
  background-color: #F5F5F5;
  cursor: pointer;
}
.vision-quote{
  margin-top: 32px;
  background-color: white;
  border-radius: 16px;
  background-image: url('/assets/quote-bg.png');
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 48px 24px 48px 24px;
  
}
.quote-para{
  color: #0E0E0E;
  opacity: 0.8;
  padding-bottom: 12px;
  line-height: 24px;
}
.quote-name{
  color: #0E0E0E;
  opacity: .8;
  font-weight: 600;
  font-size: 20px;
  padding-top: 12px;
  
}
.quote-subtitle{
  padding-top:0 ;
  color: #0E0E0E;
  opacity: .6;
}

/* News Styles */
.news{
  
  margin: 80px 160px 32px 160px;
  
  
}
.news-title{
  font-size: 40px;
  font-weight: bold;
  

}

.news-title-des{
  font-size: 16px;
  line-height: 24px;
  color: #0E0E0E;
  opacity: 0.7;
}

.reports{
  display: flex;
  padding: 48px;
  gap: 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  background-color: white;
  margin-top: 24px;
  
}


.satelite{
  border-radius: 24px;
}
.detail-title{
  font-size: 32px;
  font-weight: bold;
  color: #0E0E0E;
  opacity: .8;
}

.news-report-detail{
  padding-bottom: 32px;
  line-height: 24px;
}

/* Donate Styles */
.donate{
  margin:  80px 160px 32px 160px;
}
.donate-title{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.donate-description{
  text-align: center;
  color: #0E0E0E;
  opacity: .7;
  margin-top: 24px;
  padding: 0px 88px 0px 88px;
  line-height: 24px;
}

.donate-money{
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  margin: 32px 105px 32px 105px;
}
.donation{
  width: 240px;
  height: 128px;
  border-radius: 16px;
  background-color: white;
  color: black;
  font-size: 40px;
  font-weight: bold;
  border:none;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  opacity: .8;
  
}
.donation:hover{
  background-color: #C6E4D6;
  cursor: pointer;
}

.donation-input{
  display: flex;
  justify-content: center;
  
}
.di-text{
  font-size: 20px;
  width: 1032px;
  height: 64px;
  text-align: center;
  border: none;
  opacity: .3;
  box-shadow:0px 4px 4px 0 rgba(0, 0, 0, 0.25) ;
}
.donate-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

/* subscriber styles */
.subscriber{
  margin: 80px 160px 32px 160px;
  background-color: #C6E4D6;
  border-radius: 24px;
  
}
.subs-title{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 80px 329px 0 329px;
}
.subs-description{
  text-align: center;
  padding: 16px 329px 24px 329px;
  opacity: 0.7;
}

.subs-input{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.email-input{
  width: 750px;
  height: 56px;
  text-align: center;
  border-radius: 15px;
  border: none;
  color: rgba(14, 14, 14, 0.3);
}
.subs-subtitle{
  text-align: center;
  padding: 24px 329px 80px 329px;
  opacity: 0.7;
}

/* End styles */
.end-section{
  margin: 80px 160px 0px 160px;
}
.end-title{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.hr{width: 1122px;
opacity: 0.7;}
.end-icon{
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 32px 740px 50px 740px;
}